
.text-box >:first-child {
    color: pink;
}
#greycol {
    color: grey;
}
.text-box >:nth-child(5) {
    color: red;
}
.text-box >:nth-child(7) {
    color: green;
}
.yellow {
    color: yellow;
}
.monday {
    background-color: yellow;
}
.mon-mat:hover {
    color: white;
}
.mon-mat:nth-child(1) {
    font-size: 30px;
} 
.tuesday {
    background-color: orange;
}
.link-ukr :focus {
    color: blue;
}
.link-ukr:nth-child(2n) {
    font-size: 30px;
}
.wednesday {
    background-color: aqua;
}
.link-wed:active {
    color: brown;
}
.link-wed:nth-child(even) {
    font-size: 40px;
}
.thursday {
    background-color: pink;
}
.link-thur :visited {
    color: chartreuse;
}
.link-thur:last-child {
    font-size: 40px;
}
.friday {
    background-color: green;
}
.google-link:nth-child(-n+2) {
    font-size: 40px;
}
:not(.link-thur) {

}